.profile-card {
  transition: box-shadow 0.3s ease;
  max-width: 800;
  width: 70%;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.profile-grid {
  width: 100% !important;
  background-color: #f9f9f9;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .profile-card {
    margin: 10px;
    border-radius: 8px;
  }
}